<!-- 
<h4>Dear <b>Approver[Name]</b>,</h4>
			<div>
				There are 3 Extend Request that need your approval. <br>Please read the information about request below. <br>
				<br><br>
				<table border='1' style='border-style: solid; margin: 5px; width: 1200px'>
				<caption style='background-color: #20a8d8; color: white; font-weight: bold;  padding: 5px 0; font-size: 18px'>Extend Request List</caption>
					<tr style='background-color: #20a8d8; color: white'>
						<th style='padding: 5px'>Req No</th>
						<th style='padding: 5px'>Department</th>
						<th style='padding: 5px'>Requested by</th>
						<th style='padding: 5px'>Position</th>
						<th style='padding: 5px'>Project No</th>
						<th style='padding: 5px'>Request Time</th>
						<th style='padding: 5px'>Status</th>
						<th style='padding: 5px'>Extend Member</th>
					</tr>
					<tr>
						<td style='padding: 5px' align='center'>000123</td>
						<td style='padding: 5px'>INFORMATION TECHNOLOGY</td>
						<td style='padding: 5px'>MANGAPUL SIAHAAN (0803022)</td>
						<td style='padding: 5px'>IT MANAGER</td>
						<td style='padding: 5px'>CX</td>
						<td style='padding: 5px' align='center'>03 Jul 2019 14:23</td>
						<td style='padding: 5px' align='center'><span style='font-size: 12px; font-weight: bold'>Waiting Approval PM</span></td>
						<td style='padding: 5px' align='center'><span style='font-size: 12px; font-weight: bold'>3</span></td>
					</tr>
					<tr>
						<td style='padding: 5px' align='center'>000123</td>
						<td style='padding: 5px'>INFORMATION TECHNOLOGY</td>
						<td style='padding: 5px'>MANGAPUL SIAHAAN (0803022)</td>
						<td style='padding: 5px'>IT MANAGER</td>
						<td style='padding: 5px'>CX</td>
						<td style='padding: 5px' align='center'>03 Jul 2019 14:23</td>
						<td style='padding: 5px' align='center'><span style='font-size: 12px; font-weight: bold'>Waiting Approval GM</span></td>
						<td style='padding: 5px' align='center'><span style='font-size: 12px; font-weight: bold'>3</span></td>
					</tr>
					<tr>
						<td style='padding: 5px' align='center'>000123</td>
						<td style='padding: 5px'>INFORMATION TECHNOLOGY</td>
						<td style='padding: 5px'>MANGAPUL SIAHAAN (0803022)</td>
						<td style='padding: 5px'>IT MANAGER</td>
						<td style='padding: 5px'>CX</td>
						<td style='padding: 5px' align='center'>03 Jul 2019 14:23</td>
						<td style='padding: 5px' align='center'><span style='font-size: 12px; font-weight: bold'>Waiting Verify HR</span></td>
						<td style='padding: 5px' align='center'><span style='font-size: 12px; font-weight: bold'>3</span></td>
					</tr>
				</table>
				<br>
				To approve this request, please sign in to <a href='http://portal.cte.co.id/employee_management/'>Employee Management</a> System. 
				<ol>
					<li>After you've successfully sign in to system. Click menu <b>Extend </b> and choose menu <b>Approval</b></li>
					<li>All Extend Request that related to you will be displayed</li>
					<li>Click button <b>Approve & Review</b>. You will see new window that contain the details of Extend Request that you want to approved/rejected.</li>
					<li>You need to choose <b>next approver</b></li>
					<li>You can <b>fill comment</b> if you need to.</li>
					<li>The last step is click button <b>Approve / Reject</b></li>
					<li>An alert will be displayed when you've already <b>approved/rejected</b> the request</li>
				</ol>
			</div><br>

		Best Regards,
	
		<br><br><br><br>
	
		<b>Employee Management Root System</b>
				
		<p><b><span style="font-size:14.0pt;font-family:'Arial Black',sans-serif;color:#0F439B;">RIGHT FIRST TIME<o:p></o:p></span></b></p>

		<p><b><span style="font-size:12.0pt;font-family:'Arial Black',sans-serif;color:#0F439B;">&nbsp; HOME EVERY TIME<o:p></o:p></span></b></p>
				
		<hr><p style="font-style: italic; color: blue">
		From <b>PT. Citra Tubindo Engineering (CTE)</b>:
		<br>
		<b style="font-size: 16px">IMPORTANT:</b> The information in this electronic mail (email) transmission, including any attachment, is the property of <b>CTE</b>.
		It is intended for the use of the individual or entity to which it is addressed, and may contain information that is privileged, <b>CONFIDENTIAL</b>, and exempt from disclosure under applicable law.
		<br>If you are not the intended recipient, you are hereby notified that any disclosure, copying, distribution, use of, or reliance on, the contents of this email transmission is prohibited.
		Please notify the sender immediately by e-mail if you have received this e-mail by mistake and delete this e-mail from your system. <b>THANK YOU</b>.
		</p> -->